/* Adding comment again for testing */

@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('../fonts/Chunkfive-webfont.eot');
	src: url('../fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Chunkfive-webfont.woff') format('woff'),
		url('../fonts/Chunkfive-webfont.ttf') format('truetype'),
		url('../fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'DroidSans';
	src: url('../fonts/DroidSans-webfont.eot');
	src: url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DroidSans-webfont.woff') format('woff'),
		url('../fonts/DroidSans-webfont.ttf') format('truetype'),
		url('../fonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'DroidSans';
	src: url('../fonts/DroidSans-Bold-webfont.eot');
	src: url('../fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DroidSans-Bold-webfont.woff') format('woff'),
		url('../fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
		url('../fonts/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
	font-style: normal;
	font-weight: bold;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: #88969f url('../images/main_cloud_bg.jpg') no-repeat top center;
	font: 16px/24px "DroidSans", Verdana, Arial, sans-serif;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.ie body {
	text-shadow: 1px 1px 1px #ffffff;
}

/* typography */

h1 a {
	color: #ffffff;
	font-family: "ChunkFiveRegular", Georgia, "Times New Roman", serif;
	font-size: 60px;
	font-weight: normal;
	text-shadow:
		-2px -2px 0 #0040aa,
		2px -2px 0 #0040aa,
		-2px 2px 0 #0040aa,
		2px 2px 0 #0040aa,
		0 0 10px #ffffff;
}

.ie h1 a {
	text-shadow: 2px 2px 2px #0040aa;
}

h1 a:hover, .menuContent a:hover, .desc a:hover, .menuImg:hover, nav ul li a:hover {
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

h1 a:hover, .menuContent a:hover, .menuImg:hover, nav ul li a:hover {
	-moz-transform: translatey(-5px);
	-o-transform: translatey(-5px);
	-webkit-transform: translatey(-5px);
	transform: translatey(-5px);
}

h1 a:hover {
	text-shadow:
		-2px -2px 0 #0040aa,
		2px -2px 0 #0040aa,
		-2px 2px 0 #0040aa,
		2px 2px 0 #0040aa,
		-3px -3px 3px #ffffff,
		3px -3px 3px #ffffff,
		-3px 3px 3px #ffffff,
		3px 3px 3px #ffffff,
		0 0 10px #ffffff;
}

h2, h3 {
	color: #0040aa;
}

h2 {
	font: 42px/70px "ChunkFiveRegular", Georgia, "Times New Roman", serif;
	font-weight: normal;
	text-align: center;
}

#creditHead {
	margin-bottom: 20px;
}

h3, .menuContent a {
	font: 30px/42px "ChunkFiveRegular", Georgia, "Times New Roman", serif;
	font-weight: regular;
}

p, p.desc:last-child {
	margin-bottom: 1em;
}

p.desc {
	margin-bottom: 40px;
}

#credits {
	margin-bottom: 1em;
}

a {
	border: 0;
	color: #0040aa;
	font-weight: bold;
	text-decoration: none;
}

.menuContent a:hover {
	text-shadow:
		-1px -1px 1px #ffffff,
		1px -1px 1px #ffffff,
		-1px 1px 1px #ffffff,
		1px 1px 1px #ffffff,
		0 0 5px #ffffff;
}

.desc a:hover, #credits a:hover {
	text-shadow:
		-1px -1px 1px #ffffff,
		1px -1px 1px #ffffff,
		-1px 1px 1px #ffffff,
		1px 1px 1px #ffffff,
		0 0 5px #ffffff;
	-moz-transform: translatey(-2px);
	-o-transform: translatey(-2px);
	-webkit-transform: translatey(-2px);
	transform: translatey(-2px);
}

/* layout */

#title {
	margin: 60px auto;
	text-align: center;
}

#container {
	background-color: rgba(255, 255, 255, 0.5);
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: inset 0px 0px 20px #ffffff;
	-o-box-shadow: inset 0px 0px 20px #ffffff;
	-webkit-box-shadow: inset 0px 0px 20px #ffffff;
	box-shadow: inset 0px 0px 20px #ffffff;
	margin: 0 auto;
	padding: 30px 35px;
	width: 650px;
}

.ie #container {
	background-color: #c4cbcf;
}

#container ul {
	list-style-type: none;
	padding-top: 10px;
}

#container ul li {
	display: table-row;
}

.menuContent {
	padding: 0 0 15px 20px;
	vertical-align: middle;
}

#credits {
	padding-top: 0 !important;
}

/* images */

.menuImg, .menuContent {
	display: table-cell;
}

.cloudImg {
	border: 5px solid #ffffff;
	margin: 20px 0 10px 0;
}

.menuImg {
	border: 5px solid #ffffff;
}

.menuImg:hover {
	-moz-box-shadow: 0 0 5px #ffffff;
	-o-box-shadow: 0 0 5px #ffffff;
	-webkit-box-shadow: 0 0 5px #ffffff;
	box-shadow: 0 0 5px #ffffff;
}

/* navigation */

nav, #nav {
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
}

nav ul, #nav ul {
	float: left;
	margin: 20px auto;
	position: relative;
		left: 50%;
	text-align: center;
}

nav ul li, #nav ul li {
	float: left;
	list-style-type: none;
	padding: 20px;
	position: relative;
		right: 50%;
}

nav ul li a, #nav ul li a {
	color: #ffffff;
	font: 24px/30px "ChunkFiveRegular", Georgia, "Times New Roman", serif;
	text-shadow:
		-1px -1px 0 #0040aa,
		1px -1px 0 #0040aa,
		-1px 1px 0 #0040aa,
		1px 1px 0 #0040aa,
		0 0 5px #ffffff;
}

nav ul li a:hover {
	text-shadow:
		-1px -1px 0 #0040aa,
		1px -1px 0 #0040aa,
		-1px 1px 0 #0040aa,
		1px 1px 0 #0040aa,
		-1px -1px 5px #ffffff,
		1px -1px 5px #ffffff,
		-1px 1px 5px #ffffff,
		1px 1px 5px #ffffff;
}